npm-debug.log*
coverage
node_modules
typings


app/common//dialog-prodlist/*.js
app/common/typeahead/*.js
app/common/ug-dialog/*.js
app/common/ug-table/*.js
app/common/ug-upload/*.js
app/*.js
app/*.js.map
app/**/*.js
app/**/*.js.map
plugin/*.js
plugin/*.js.map
src/*.js
src/*.js.map
src/**/*.js
src/**/*.js.map
util/*.js
util/*.js.map
ug-table/*.js


